<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>GitHub Popularity</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <form method="POST">
        <input type="text" name="url" required><br>
        <input type="submit" value="Check Popularity">
    </form>

    <section>
        {% if errors %}
            <ul>
                {% for _, error_value in errors.items() %}
                    <li>{{ error_value }}</li>
                {% endfor %}
            </ul>
        {% elif response %}
            <p>The repo "{{ response.repo }}" is {{ response.message }} with a score of {{ response.score }}</p>
        {% else %}
            <p>Please enter the link to a GitHub repository</p>
        {% endif %}
    </section>
</body>
</html>