<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>GitHub Popularity</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <form method="POST">
        <input type="text" name="url" required><br>
        <input type="submit" value="Check Popularity">
    </form>

    <h2>
        {% if errors %}
            <ul>
                {% for error_key, error_value in errors.items() %}
                    <li>{{ error_value }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>{{ response }}</p>
        {% endif %}
    </h2>
</body>
</html>